.card {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    width: auto;
    padding: 8px;
    box-sizing: border-box;
    grid-column: span 4;
    height: auto;
    gap: 12px;
    align-self: start;
}

.cardContent {
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 4px;
    display: flex;
}

.categoryLabel {
    opacity: 80%;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:auto;
}
