

.pageGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    gap: 16px;
    padding: 16px;
    width: 100%;
    margin-left:64px;
}

.pageLayout {
    display: flex;
    height: auto;
}

.sideBar {
    height: 100%;
    width:64px;
    background-color: black;
    position: fixed;

}

.header {
    transform: rotate(-90deg) translateX(-140%);
    color: white;

    /*transform-origin: left;*/
}
