body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'rules-variable';
  color: var(--dark-grey);
  background-color: var(--light-grey);
}

@font-face {
  font-family: 'rules-variable';
  src: url('/public/fonts/RulesVariable.ttf') format('truetype');
  font-weight: 200 900;
  font-display: swap;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-weight: 600;
  line-height: 130%;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 130%;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 130%;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 140%;
}

a {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
}

:root {
  --page-max-width: 1280px;
  --blue: #1646d4;
  --about-background-color: var(--blue);
  --light-grey: #F6F6F6;
  --dark-grey: #1F344D;
  --case-study-page-background-color: var(--light-grey);
  --case-study-text-color: var(--dark-grey);
}